# =============================================================================
# Keys
# =============================================================================
*.p12
*.pem
*.pkey

# =============================================================================
# Ruby generated
# =============================================================================
vendor/
fastlane/beta-release-notes.txt

# =============================================================================
# Build generated
# =============================================================================
build/
DerivedData/

# =============================================================================
# Various settings
# =============================================================================
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

# =============================================================================
# Other
# =============================================================================
*.moved-aside
*.xccheckout
*.xcscmblueprint
*.xcarchive

# =============================================================================
# Obj-C/Swift specific
# =============================================================================
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# =============================================================================
# CocoaPods
# =============================================================================
Pods/CocoaPodsKeys/*.h
Pods/CocoaPodsKeys/*.m

# =============================================================================
# Custom Env (CocoaPods Keys)
# =============================================================================
.env

# =============================================================================
# fastlane
# https://docs.fastlane.tools/best-practices/source-control/#source-control
# =============================================================================
# fastlane specific
Example/fastlane/report.xml

# deliver temporary files
Example/fastlane/Preview.html

# snapshot generated screenshots
Example/fastlane/screenshots

# scan temporary files
Example/fastlane/test_output

# final Preview.html
Preview.html

# =============================================================================
# Xcode Patch
# =============================================================================
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno

# =============================================================================
# Mac
# =============================================================================
*.DS_Store

# =============================================================================
# Custom
# =============================================================================
Example/ipas
Example/.env.default
